@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url(variables.css);
@import url(telasMenores.css);

.comparisons-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  justify-content: center;
  gap: 2rem;
  background: linear-gradient(0deg,rgba(42, 123, 155, 1) 0%, rgba(255, 255, 255, 0) 0%, rgb(0, 44, 76) 100%);
}
.comparisons-section #comparison-sect-bg {
  position: absolute;
  top: 100;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1; 
}
.comparisons-section > h1{
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 200;
  color: var(--texto-principal);
}
.comparison-card-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  flex-direction: row;
  font-family: Inter;
  gap: 1rem;;
}
.comparison {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 500px;
  gap: 1rem;
  border-radius: 10px;
  
  /* Fundo de vidro */
  background: rgba(60, 60, 60, 0.5);
  box-shadow: 0 8px 32px 0 rgba(14, 15, 18, 0.6);
  backdrop-filter: blur(5px);
}
.page-speed-image {
  width: 350px;
  height: 100%
}
.page-speed-image > img {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0px 0px;
}
.comparison-description > h4 {
  color: var(--texto-principal);
  font-size: 1.3rem;
  font-weight: 230;
  font-family: "Inter", sans-serif;
}
.comparison-description > p {
  color: var(--texto-principal);
  font-size: 1.1rem;
  padding: 1rem;
  font-weight: 130;
  font-family: "Inter", sans-serif;
}


@media (max-width: 768px) {
  .comparisons-section {
    height: 100dvh;
    padding: 0 1rem 0 1rem;
    width: 100%;
  }
  
  .comparison-card-container {
    overflow-x: scroll;
    flex-direction: row;
    width: 100%;
    gap : 2rem;
  }
  
  .comparison {
    width: 100%;
    padding: 10px;
     box-shadow: 0 0px 0px 0 rgba(14, 15, 18, 0.6);
  }
  
  .page-speed-image {
     width: 350px;
     height: 300px;
  }
  .page-speed-image > img{
    width: 100%;
  }
  
  .comparison-description > h4 {
    font-size: 1.5rem;
  }
  
  .comparison-description > p {
    font-size: 1rem;
  }
}