@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url(variables.css);
@import url(herosection.css);

.comparisons-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 100dvh;
    justify-content: center;
    gap: 2rem;
}
.comparisons-section >h3 {
    color: var(--texto-principal);
    font-size: 2.5rem;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}
.comparison-card-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  flex-direction: row;
  font-family: Inter;
  gap: 1rem;
  margin: 2rem;
}
.comparison {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 500px;
    gap: 1rem;
    border: 2px solid black;
    padding: 1rem;
    border-radius: 10px;
    background-color: white;
    background-image: ;
}
.comparison ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
}

.page-speed-image{
    width: 300px;
    height: 300px;
}
.page-speed-image > img{
    width: 100%;
    height: 100%;
}