@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url(variables.css);
@import url(telasMenores.css);

.comparisons-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  justify-content: center;
  gap: 2rem;
  background: linear-gradient(
    0deg,
    rgba(42, 123, 155, 1) 0%,
    rgba(255, 255, 255, 0) 0%,
    rgb(0, 44, 76) 100%
  );
}
#comparison-sect-bg {
  position: absolute;
  top: 100;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}
.comparisons-section > h2 {
  font-family: "Inter", sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 2.5rem;
  color: var(--texto-principal);
  text-align: center;
}
.comparison-cards-container {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  width: 80%;
}
  .comparison-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--texto-principal);
  background-color: #091f42;
  border-radius: 1rem;
  padding-bottom: 1rem;
  border: 2px solid #4facfe;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 290px;
  height: 420px;
}
.comparison-card > img {
  border-radius: 1rem 1rem 0 0;
  margin-bottom: 2rem;
  width: 100%;
}
.slide-container-for-mobile{
  display: none;
}

.comparison-card > p{
  font-family: "Inter", sans-serif;
  font-weight: 200;
  padding: 0.5rem;
  font-size: 1rem;
  color: var(--texto-principal);
  text-align: center;
}
.comparison-card > h3{
  color: var(--texto-principal);
  font-size: 1.2rem;
  font-weight: 300;
}
@media screen and (max-width: 768px) {
  .comparison-cards-container {
    display: none;
  }
  .container-images{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
}
.slider{
  opacity: 0;
  position: absolute;
  width: 100%;
  transition: opacity 2s;
  border-radius: 10px;
}
.on{
  opacity: 1;
}
#prev-button, #next-button{
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
#prev-button{
  transform: rotate(180deg);
}
#prev-button img, #next-button img{
  width: 100%;
  height: 100%;
}
.slide-container-for-mobile{
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  gap: 1rem;
}
  .comparison-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #091f42;
  border-radius: 1rem;
  padding-bottom: 1rem;
  border: 2px solid #4facfe;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 450px;
}
.comparison-card > p{
  font-family: "Inter", sans-serif;
  font-weight: 200;
  padding: 0.5rem;
  font-size: 1rem;
  color: var(--texto-principal);
  text-align: center;
}
.comparison-card > h3{
  color: var(--texto-principal);
  font-size: 1.2rem;
  font-weight: 300;
}
}