@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url(variables.css);


.comparisons-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  justify-content: center;
  gap: 2rem;
  background: linear-gradient(0deg,rgba(42, 123, 155, 1) 0%, rgba(255, 255, 255, 0) 0%, rgb(0, 44, 76) 100%);
}
.comparisons-section #comparison-sect-bg {
  position: absolute;
  top: 100;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1; 
}
.comparison > h3 {
  color: var(--texto-principal);
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}
.comparison > p {
  color: var(--texto-principal);
  font-size: 1.1rem;
  font-weight: 300;
  font-family: "Inter", sans-serif;
}
.comparison-card-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  flex-direction: row;
  font-family: Inter;
  gap: 1rem;
  margin: 2rem;
}
.comparison {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 500px;
  gap: 1rem;
  border: 2px solid black;
  padding: 1rem;
  border-radius: 10px;
  
  background: rgba(0, 209, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(14, 15, 18, 0.6);
  backdrop-filter: blur(.05px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.06);
}
.page-speed-image {
  width: 300px;
  height: 300px;
}
.page-speed-image > img {
  width: 100%;
  height: 100%;
}
