@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url(variables.css);

.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  width: 100%;
  background: linear-gradient(180deg,rgba(42, 123, 155, 1) 0%, rgba(255, 255, 255, 0) 0%, rgb(0, 44, 76) 100%);
}
.hero-section #hero-sect-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  
}
.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
}
.content-container > h1 {
  font-weight: 700;
  color: var(--texto-principal);
}
.content-container > h2 {
  font-weight: 300;
  color: var(--texto-principal);
}
.content-container > p {
  font-weight: 300;
  color: var(--texto-principal);
}
.content-container > a {
  padding: 1rem;
  text-decoration: none;
  color: var(--texto-principal);
  background: linear-gradient(90deg, #00d1ff, #7000ff);
  border-radius: 999px;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 20px rgba(0, 209, 255, 0.3);
}

.content-container > a:hover {
  transform: translateY(-3px);
  box-shadow: 0px 10px 25px rgba(0, 209, 255, 0.5);
}
