@import url(variables.css);
.header {
  padding-inline: 16px;

  background: rgba(255, 255, 255, 0.17);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  width: 100%;
}
.nav > a {
  text-decoration: none;
}
.nav {
  max-width: 1280px;
  height: 70px;
  display: flex;
  margin-inline: auto;
  justify-content: space-between;
  align-items: center;
}
.logo > img {
  height: 48px;
  border-radius: 10px;
}

.nav-list {
  display: flex;
  gap: 32px;
  list-style: none;
}
.nav-list a {
  font-size: 1rem;
  color: #fff;
  padding-block: 16px;
  text-decoration: none;
}

.nav-list li {
  font-size: 1rem;
  color: #fff;
  padding-block: 16px;
}

.hamb {
  display: none;
  border: none;
  background: none;
  border-top: 3px solid var(--texto-principal);
  cursor: pointer;
  z-index: 3;
}
.hamb::before,
.hamb::after {
  content: " ";
  display: block;
  width: 30px;
  height: 3px;
  background: var(--texto-principal);
  margin-top: 5px;
  position: relative;
  transition: 0.3s;
}
@media (max-width: 750px) {
  .hamb {
    display: block;
  }
  .nav-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 20vh;
    background: #2e2e2e;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0;
    clip-path: circle(100px at 150% -15%);
    transition: 1s ease-in-out;
    pointer-events: none;
  }
  .nav.active .nav-list {
    clip-path: circle(1500px at 90% -15%);
    pointer-events: all;
  }
  .nav-list a {
    font-size: 1.2rem;
    opacity: 0;
  }
  .nav-list li:nth-child(1) a {
    transition: 0.5s 0.2s;
  }
  .nav-list li:nth-child(2) a {
    transition: 0.5s 0.4s;
  }
  .nav-list li:nth-child(3) a {
    transition: 0.5s 0.6s;
  }
  .nav.nav.active .nav-list a{
    opacity: 1;
  }

  .nav.active .hamb{
    position: fixed;
    top: 26px;
    right: 16px;
    border-top-color: transparent;
  }
  .nav.active .hamb::before{
    transform: rotate(135deg);
  }
  .nav.active .hamb::after{
    transform: rotate(-135deg);
    top: -7px;
  }
}
