@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url(variables.css);
.pricing-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100dvh;
  justify-content: center;
  gap: 2rem;
  background:
    linear-gradient(
      180deg,
      #00a3c8 0%,
      rgba(87, 199, 133, 0) 50%,
      #00a3c8 100%
    ),
    url(images/mesh-27.png);
  background-size: cover; /* Garante que a imagem preencha tudo */
  background-position: center; /* Mantém o centro da imagem sempre no meio */
}
.pricing-cards-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  width: 100%;
  justify-content: center;
}
#basic-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  width: 300px;
  height: 400px;
  text-align: center;
  color: var(--texto-principal);
  background: rgba(255, 255, 255, 0.19);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}
#best-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  width: 350px;
  height: 450px;
  text-align: center;
  color: var(--texto-principal);
  background: rgba(255, 255, 255, 0.19);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

#best-option > a {
  margin-top: 15rem;
  padding: 1rem;
  text-decoration: none;
  color: var(--texto-principal);
  background: #001959;
  border-radius: 999px;
}
#basic-option > a {
  margin-top: 12rem;
  padding: 1rem;
  text-decoration: none;
  color: var(--texto-principal);
  background: #001959;
  border-radius: 999px;
}
