@media (max-width: 1024px) {
    .hero-section{
        height: 100dvh;
    }
  .comparisons-section{
    height: 100dvh;
  }
 .comparison-card-container{
  width: 90%;
  flex-direction: column;

 }
}
 
@media (max-width: 640px) {
  
}